body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.welcome-animation, .begin-button {
    font-size: 2em;
    opacity: 0;
    transition: opacity 2s;
}

.title {
    color: red;
}

.begin-button {
    background-color: black;
    border: 2px solid white;
    color: red;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
    margin-top: 20px; /* Space between the title and the button */
    opacity: 0; /* Start invisible */
    transition: opacity 3s; /* Longer transition for the button */
}


.info-button {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.info-button:hover {
    background-color: darkred;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: black;
    color: white;
    border: 2px solid red;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    z-index: 100;
    text-align: center;
}

#scoreboards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
    position: absolute;
    top: 20px;
}

.scoreboard {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    margin: 5px;
    text-align: center;
}

.scoreboard.left {
    align-self: flex-start;
}

.scoreboard.right {
    align-self: flex-end;
}

.game-container {
    width: 90%;
    max-width: 800px;
    background-color: black;
    border: 5px solid red;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5);
    margin-top: 100px; /* Push down from the scoreboards */
    position: relative;
}

.player-area {
    margin: 10px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.player-area.active {
    background-color: white;
    color: black;
    border: 2px solid red;
}

h1, h2, h3 {
    color: red;
}

button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 20px;
}

button:hover {
    background-color: darkred;
    transform: scale(1.1);
}

button:active {
    transform: scale(1);
}

#next-round-button {
    background-color: darkred;
}
